@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #24292e;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}
.site-title {
  line-height: 1px;
}
.site-title a {
  display: block;
}
.sec-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}
.name {
    font-size: 1.3rem;
    margin-bottom: 5px;
    text-align: center;
}
.title-tema {
    text-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  font-size: 0.9rem;
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}
#header li img.icon {
  width: 20px;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
.profile {
  display: flex;
  margin-bottom: 30px;
}
.me {
  width: 20%;
}
.me img {
  border-radius:50%;
}
.me_text {
  margin-left: 30px;
}
.chara {
  display: flex;
  margin-bottom: 40px;
}
.c_title {
  font-size: 20px;
  margin-bottom: 40px;
}
.circle{
  margin-left: 50px;
  position: relative;
  color: #333;
  text-shadow: 0 0 2px white;
}
/* 未来志向 */
.circle:nth-child(1)::before {
  background: #ffd69d; /* 既存の色 */
}

/* 目標志向 */
.circle:nth-child(2)::before {
  background: #add8e6; /* 新しい色 */
}

/* 戦略性 */
.circle:nth-child(3)::before {
  background: #90ee90; /* 新しい色 */
}

/* 共感性 */
.circle:nth-child(4)::before {
  background: #ffb6c1; /* 新しい色 */
}

/* 最上志向 */
.circle:nth-child(5)::before {
  background: #ffa07a; /* 新しい色 */
}

.circle:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}
/*-------------------------------------------
About
-------------------------------------------*/
#about ul {
  margin-bottom: 30px;
}
#about li:first-child {
  margin-bottom: 30px;
}
#about p {
  text-align:justify;
}
.name {
  font-size: 30px;
  margin-bottom: 20px;
}
.motto {
  font-size: 18px;
}
.message {
  line-height: 30px;
}
/*-------------------------------------------
Works
-------------------------------------------*/
#works ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
#works li {
  width: 20%;
  margin-bottom: 23px;
  margin-left: 10px;
  margin-right: 10px;
}
.action a img {
  position:relative;
	top:0;
}
.action a img:hover {
	top:-10px;
	transition:0.3s;
}
/*-------------------------------------------
News
-------------------------------------------*/
#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
}
#news dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}
#news dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

/*-------------------------------------------
Contact
-------------------------------------------*/
#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#contact dt {
  width: 15%;
}
#contact dd {
  width: 85%;
  margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}
#contact dd textarea {
  height: 10rem;
}
#contact .button {
  text-align: center;
}
#contact .button input {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #24292e;
}
#contact .button input:hover {
  background: #fff;
  color: #24292e;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {
  .wrapper {
    margin-bottom: 70px;
  }
  .site-title {
    margin-top: 20px;
  }
  .sec-title {
    margin-bottom: 40px;
  }
  .name {
    margin-bottom: 5px;
    font-size: 1.0rem;
  }
  .title-tema {
    text-align: center;
}

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
    margin-bottom: 20px;
  }
  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }
  #header li:first-child {
    margin-left: 0;
  }

  /*-------------------------------------------
  main
  -------------------------------------------*/
  .chara {
    display: flex;
  }
  .c_title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .motto {
    font-size: 12px;
  }
.circle {
  margin-left: 25px;
  position: relative;
  color: #333;
  text-shadow: 0 0 2px white;
  font-size: 12px;
}

/* 未来志向 */
.circle:nth-child(1)::before {
  background: #ffd69d; /* 既存の色 */
}

/* 目標志向 */
.circle:nth-child(2)::before {
  background: #add8e6; /* 新しい色 */
}

/* 戦略性 */
.circle:nth-child(3)::before {
  background: #90ee90; /* 新しい色 */
}

/* 共感性 */
.circle:nth-child(4)::before {
  background: #ffb6c1; /* 新しい色 */
}

/* 最上志向 */
.circle:nth-child(5)::before {
  background: #ffa07a; /* 新しい色 */
}

.circle:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

  
  /*-------------------------------------------
  Works
  -------------------------------------------*/
  #works ul {
    flex-direction: column;
  }
  #works li {
    width: 100%;
  }

  /*-------------------------------------------
  News
  -------------------------------------------*/
  #news dl {
    flex-direction: column;
  }
  #news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }
  #news dd {
    width: 100%;
    padding-top: 0;
  }

  /*-------------------------------------------
  Contact
  -------------------------------------------*/
  #contact dl {
    flex-direction: column;
  }
  #contact dt {
    width: 100%;
  }
  #contact dd {
    width: 100%;
  }
}